.countryList {
  width: 100%;
  height: 65vh;
  list-style: none;
  overflow-y: show;
  overflow-x: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 1.6rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}